[submodule "otto"]
	path = otto
	url = https://github.com/jt05610/otto
[submodule "petri-ui"]
	path = petri-ui
	url = https://github.com/jt05610/petri-ui
[submodule "petri-graph"]
	path = petri-graph
	url = https://github.com/jt05610/petri-graph
[submodule "prisma/prisma"]
	path = prisma/prisma
	url = https://github.com/jt05610/petri-prisma
