:4000 {
    handle /experiment/* {
        reverse_proxy :8000
    }
    handle /pipbot/* {
        reverse_proxy :8000
    }

    handle /api/* {
        reverse_proxy :8081
    }
    handle {
        reverse_proxy :3000
    }
}
